@import url('https://fonts.cdnfonts.com/css/dotcirful');

.home{
  background-color: black;
}


.dialog-box {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 500px;
  height: auto;
  padding: 5px 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(107, 143, 162);
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 174, 255, 0.8);
  animation: delay 3s forwards;
}

.dialog-content {
  padding: 5px;
  color: rgb(255, 255, 255);;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  animation: delay 3s forwards;
}

.arrow-left {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid rgb(107, 143, 162);
  animation: delay 3s forwards;
}

.lvl1{
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 30px;
  padding: 5px;
  color: rgb(255, 255, 255);;
  font-family: 'Deltha', sans-serif;
}

.meterbox1{
  font-family: 'Deltha', sans-serif;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(24, 23, 23, 0.9);
  border-style: solid;
  border-color: rgb(15, 95, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(85, 255, 0, 0.4);

  padding: 20px 20px;
  color: white;
  font-size: 20px;
  text-align: center;

  height: 25%;
  width: 99%;
  
}
.meterbox1 p{
  margin-top: 20px;
  margin-bottom: 30px;
}

.meterbox1 input{
  height: 25%;
  width: 40%;
}

.meterbox1 button{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 5%;
  right: 27%;
  padding: 10px 25px;
  background-color: #042b01;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  z-index: 10;
}

.hintbut{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 2%;
  right: 2%;
  padding: 10px;
  background-color: #052d02;
  color: #fff;
  border-radius: 90px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 5px rgba(85, 255, 0, 0.4);
  
}

.hintbox{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 88%;
  top: 70%;
  background-color: rgba(42, 42, 42, 0.8);
  padding: 20px 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  width: 15%;
  height: 23%;
}