
@import url('https://fonts.cdnfonts.com/css/deltha');

        .backbut{
            font-family: 'Deltha', sans-serif;
            position: fixed;
            right: 82%;
            top: 85%;
            background-color: rgba(0, 0, 0, 0.8);
            border-style: solid;
            border-color: rgb(49, 95, 118);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 174, 255, 0.8);
            border-radius: 20px;
            padding: 20px 20px;
            color: white;
            cursor: pointer;
            font-size: 20px;
            text-align: center;
            animation: delay 2s ease-out forwards;
        }

        .infobut{
            font-family: 'Deltha', sans-serif;
            position: fixed;
            left: 90%;
            bottom: 4%;
            background-color: rgba(0, 0, 0, 0.8);
            border-style: solid;
            border-color: rgb(49, 95, 118);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 174, 255, 0.8);
            border-radius: 30px;
            padding: 20px 20px;
            color: white;
            cursor: pointer;
            font-size: 20px;
            text-align: center;
            animation: delay 2s ease-out forwards;
        }

        .infobox{
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            left: 55%;
            bottom: 4%;
            background-color: rgba(30, 30, 30, 0.9);
            padding: 20px 20px;
            color: white;
            cursor: pointer;
            font-size: 20px;
            text-align: left;
            width: 30%;
            height: 25%;
        }

        @keyframes delay {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }


        .meterbox{
            font-family: 'Deltha', sans-serif;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0);
            border-style: solid;
            border-color: rgb(49, 95, 118);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 174, 255, 0.8);
            border-radius: 30px;
            padding: 20px 20px;
            color: white;
            font-size: 30px;
            text-align: center;
            animation: delay 2s ease-out forwards;
            height: 30%;
            width: 50%;
            
        }
        .meterbox p{
            margin-top: 20px;
            margin-bottom: 50px;
        }

        .meterbox input{
            height: 25%;
            width: 70%;
        }

        