.beginQuizCont{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background-color: white;
    opacity: 40%;
}

.beginQuizCont h3{
    font-size: 2rem;
    color: black;
    text-align: center;
}