@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/cute-zealand');
@import url('https://fonts.cdnfonts.com/css/desonanz');
@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/alatsi-2');

html{
    overflow-y: scroll;
    overflow-x: hidden;
}

.developed{
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0%{
        visibility: inherit;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}


h1{
    text-align: center;
    padding-top: 110px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    animation-name: updown;
    animation-duration: 3s;

}

h2{
    text-align: center;
    padding-top: 10px;
    -webkit-text-stroke-width: 0.5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    animation-name: updown;
    animation-duration: 3s;
}

.menu{
    text-align: center;
    animation-name: leftright;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
    padding-bottom: 80px;
    font-size: large;
}

.headings{
    -webkit-text-stroke-width: 0.5px;
    animation-fill-mode: forwards;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: inline;
    padding: 15px;
    font-size: 40px;
    visibility: hidden;    
    animation-name: leftright;
    animation-duration: 2s;
    animation-delay: 0.5s;
    transition: transform 0.5s ease;
}

.headin{
    background: transparent;
    border: transparent;
}

a{
    text-decoration: none;
}

.headings:hover{
    color: red;
    cursor: pointer;
    text-underline-offset: 12px;
}

@keyframes updown {
    from{ transform: translateY(-450px);}
    to{transform: translateY(0px);}
}

@keyframes leftright {
    0%{ 
        visibility: hidden;
        opacity: 0;
        transform: translateX(-450px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }
}

.App{
    background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.bgstar {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.bgstar .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed,
    524px -237px #f0f0f0, 679px -535px #e3e3e3, 157px 249px #ededed, 81px -450px #ebebeb , 719px -360px #c2c2c2, -158px -349px #d4d4d4, 870px -134px #cfcfcf,
    -12px 246px #fcfcfc, 641px -413px #fcfcfc, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
    -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6, -681px 13px #fafafa,
    -176px 209px #f0f0f0, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7,
    624px -481px #e6e6e6, 731px -403px #ededed, 70px -534px #cccccc, -652px -237px whitesmoke, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
   563px 47px #dedede, 839px -491px #e3e3e3, -581px 239px #c2c2c2, -857px 72px #cccccc, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, 419px 288px #d1d1d1,
    -598px -50px #c2c2c2, -833px 187px #c4c4c4, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 4px;
    border-radius: 2px;
}
.bgstar .layer:nth-child(1) {
    animation: sf-fly-by-1 10s linear infinite;
}
.bgstar .layer:nth-child(2) {
    animation: sf-fly-by-2 10s linear infinite;
}
.bgstar .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}

#gamestab{
    width: 87%;
    height: 100%;
    margin-top: -8ex;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 4.5%;    
    background-color: #004979;
    animation: animation-colors 20s linear 1s infinite;   
}

.gPage{
    animation: slide 2s;
}

@keyframes slide {
    0%{ 
        transform: translateX(950px);
    }
    100%{
        transform: translateX(0px);
    }
}

.arrow{
    transform: scaleX(-1);
    max-width: 5%;
    padding-top: 12ex;
    margin-left: -5ex;
}
   
  @keyframes animation-colors {
    0% {
      background-color: #004979; 
    }
    25% {
      background-color: #EF1137; 
    }
    50% {
      background-color: #1E0225;
    }
    75% {
      background-color: #007949;
    }
    100% {
      background-color: rgb(83, 109, 187);
    }
  }

form{
    display: grid;
    margin-left: 120px;
    margin-right: 300px;
    margin-top: -30px;
}


.createbutton{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #326fa8;
    font-family: 'Alatsi', sans-serif;  
    animation-name: leftright;
    animation-duration: 2s;
    transition: transform 0.5s ease;
}

.login-form{
    text-align: center;
    background: linear-gradient(200deg, #326fa8, #285a8a, cadetblue ,#7abcfa) ;  
    margin-right: 500px;
    margin-left: 500px;
    margin-top: -20px;
    padding-top: 150px;
    padding-bottom: 45px;   
    margin-bottom: 0px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.login{

    animation-name: leftright;
    animation-duration: 2s;
    transition: transform 0.5s ease;
}

h4{
    animation-name: leftright;
    animation-duration: 2s;
    transition: transform 0.5s ease;
}


.game1{
    padding-left: 13px;
}

.games-heading{
    text-align: center;
    font-size: 60px;
    margin-top: -2ex;  
    -webkit-text-stroke-width: 1.5px;
    font-weight: 500;
    -webkit-text-stroke-color: black;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
}

.login-heading{
    -webkit-text-stroke-width: 0.7px;
    font-weight: 500;
    -webkit-text-stroke-color: white;
    font-size: 50px;
    font-family: 'desonanz', sans-serif;
    animation-name: updown;
    animation-duration: 2s;
}

.games{
    max-width: 35%;
    max-height: 35%;
    border-radius: 6ex;
    margin-left: 16ex;
    transition: transform 0.3s ease;
}

label{   
    font-size: 15px;
    text-align: left; 
}

.games:hover{
    box-shadow: -20px 20px 20px black;
    transform: scale(1.1);
}

input{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-family: 'PT Mono', sans-serif;
}

button[type="submit"]{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #326fa8;
    font-family: 'Alatsi', sans-serif;                                                
}

.rememberme{
    margin-left: 170px;
}

button[type="submit"]:hover{
    background-color: #e3dddc;
    color: #326fa8;
}   

#remember{
    margin-left: -190px;
}

.rememberme a{
    margin-left: 80px;
}